body.layout_default {
	.column {
		float: left;
		width: 30%;
		margin: 40px 2.5% 40px 0;

		&:first-child {
			margin-left: 2.5%;
		}

		.widget {

			ul {
				li {
					a{
						display: inline-block;
						width: 100%;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
			}
		}
	}
}
