
<section class="widget widget_{{widget.type}}">
	<h1>Bookmarks</h1>
	<ul>
		<li>
			<a href="#">Test</a>
			<ul>
				<li>
					<a href="#">Test</a>
				</li>
				<li>
					<a href="#">Test</a>
					<ul>
						<li>
							<a href="#">Test</a>
						</li>
						<li>
							<a href="#">Test</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li>
			<a href="#">Test</a>
			<ul>
				<li>
					<a href="#">Test</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#">Test</a>
			<ul>
				<li>
					<a href="#">Test</a>
					<ul>
						<li>
							<a href="#">Test</a>
							<ul>
								<li>
									<a href="#">Test</a>
									<ul>
										<li>
											<a href="#">Test</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</section>