
.sortable{
	@include clearfix();

	li{
		width: 100%;

		&.w50{
			width: 50%;
		}
		&.w25{
			width: 25%;
		}

		div{
			margin-top: 10px;

			//THEME
			padding: 10px;
			background: rgba(1, 1, 1, 0.4);
			color: white;
			//END THEME
		}
	}

	&.horizontal{
		> li{
			float: left;
			padding-right: 10px;

			&:last-child{
				padding-right: 0;
			}
		}
	}
}

#widget_view{
	margin-top: 0;

	> li{
		&:first-child{
			padding-left: 10px;
		}
		&:last-child{
			padding-right: 10px;
		}
	}
}

@media only screen and (max-width: 699px){

	#widget_view,
	.sortable{
		li{
			width: 100%;

			&,
			&:first-child,
			&:last-child{
				padding: 0;
			}
		}
	}

	#widget_view{
		padding: 0 10px 10px 10px;
	}
}